@model IEnumerable<RentaAutos.Models.MARCA>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title | @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus icon-title", data_toggle = "tooltip", data_placement = "bottom", data_original_title = "Nuevo" })</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_MARCA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_MARCA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_MARCA })
        </td>
    </tr>
}

</table>
