@model IEnumerable<RentaAutos.Models.ROL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_ROL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_ROL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ROL }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ROL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ROL })
        </td>
    </tr>
}

</table>
