@model IEnumerable<RentaAutos.Models.AUTOMOVIL>

@{
    ViewBag.Title = "Automovil";
}

<div class="panel-heading">
    <h3>@ViewBag.Title  | @Html.ActionLink(" ", "Create", null, new { @class = "btn-default glyphicon-plus", data_toggle = "tooltip", data_placement = "bottom", data_original_title = "Nuevo" }) </h3>
</div>
<table class="table">
    <tr>
        <th width="20%">
            @Html.DisplayNameFor(model => model.MARCA.NOMBRE_MARCA)
        </th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.TIPO.NOMBRE_TIPO)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.OCUPADO)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th width="10%">
            <label>Opciones</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="auto_@item.ID_AUTOMOVIL">
            <td>
                @Html.DisplayFor(modelItem => item.MARCA.NOMBRE_MARCA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO.NOMBRE_TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_CREACION)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => string.Format("{0:C}",item.PRECIO))*@
                @string.Format("{0:C}", item.PRECIO)
            </td>
            <td>
                @if (item.OCUPADO)
                {
                    <label class="label label-success">Si</label>
                }
                else
                {
                    <label class="label label-danger">No</label>
                }
            </td>
            <td>
                @if (item.ACTIVO)
                {
                    <label class="label label-success">Si</label>
                }
                else
                {
                    <label class="label label-danger">No</label>
                }
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID_AUTOMOVIL }, new { @class = "btn-default glyphicon glyphicon-pencil", title = "Editar" }) |
                <a href="#" title="Eliminar" onclick="deleteAuto(@item.ID_AUTOMOVIL)">
                    <span class="btn-default glyphicon glyphicon-trash"></span>
                </a> |
                <a href="#" title="Detalle" onclick="detailAuto(@item.ID_AUTOMOVIL)">
                    <span class="btn-default glyphicon glyphicon-check"></span>
                </a>
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/SweetAlert.js"></script>
<script>
    function detailAuto(id) {
        $('#marca').text($('#auto_' + id + ' td:eq(0)').text().trim());
        $('#tipo').text($('#auto_' + id + ' td:eq(1)').text().trim());
        $('#precio').text($('#auto_' + id + ' td:eq(3)').text().trim());
        $('#ocupado').text($('#auto_' + id + ' td:eq(4)').text().trim());
        $('#exampleModal').modal({
            show: 'false'
        });
    }

    function deleteAuto(id) {
        swal({
            title: "Estas seguro?",
            text: "Deseas eliminar el registro ",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: "/Automovil/Delete",
                    dataType: "json",
                    type: 'POST',
                    cache: false,
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#auto_' + id).remove();
                            swal(data.message, {
                                icon: "success",
                            });
                        } else {
                            swal("Error !", "Error al eliminar el tipo", "error");
                        }
                    }
                });
            }
        });
    }
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Detalle Automovil</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-lg-4"><strong>Marca:</strong></label>
                    <label id="marca" class="col-lg-8"></label>
                </div>
                <div class="row">
                    <label class="col-lg-4"><strong>Tipo:</strong></label>
                    <label id="tipo" class="col-lg-8"></label>
                </div>

                <div class="row">
                    <label class="col-lg-4"><strong>Precio:</strong></label>
                    <label id="precio" class="col-lg-8"></label>
                </div>

                <div class="row">
                    <label class="col-lg-4"><strong>Ocupado:</strong></label>
                    <label id="ocupado" class="col-lg-8"></label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
