@model IEnumerable<RentaAutos.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ROL.NOMBRE_ROL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORRECO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ROL.NOMBRE_ROL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRASENA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORRECO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_USUARIO })
        </td>
    </tr>
}

</table>
